- if current_user
  %h3
    - user = current_user.email
    ="Welcome to Chitter, #{user}!"

%form{action: "/cheeps/new", method: "post"}
  %input{name: "content", title: "content", placeholder: "cheep"}
  %input{type: "submit", value: "Post", class: "submit"}

- @cheeps.each do |cheep|
  .row
    .col-md-6 
      .col-md-offset-3
        %h3
          = cheep.user.username
      = cheep.content
      - time = cheep.created_at
      = time.strftime("%m/%d/%Y")
      = time.strftime("%I:%M%p")