- if current_user
  %h3
    - user = current_user.username
    ="Welcome to Chitter, #{user}!"

%form{action: "/cheeps/new", method: "post"}
  %input{name: "content", title: "content", placeholder: "cheep"}
  %input{type: "submit", value: "Post", class: "submit"}

.cheep_template
  .row
    .col-md-6 
      .col-md-offset-3
        %h3
      %span.content
      %span.date
      %span.time

#cheeps
  - @cheeps.each do |cheep|
    .row
      .col-md-6 
        .col-md-offset-3
          %h3
            - user = cheep.user
            = user.username
        %span.content= cheep.content
        - time = cheep.created_at
        %span.date
          = time.strftime("%m/%d/%Y")
        %span.time
          = time.strftime("%I:%M%p")

:javascript
  $(document).ready(function(){
    getUpdate();
  })
  function getUpdate(){
    $.getJSON('/cheeps', function(cheepsList) {

      $("#cheeps").html('')

      $.each(cheepsList, function(i, cheep){
        $newCheep = $('.cheep_template').clone();

        $newCheep.find('h3').text(cheep.user);
        $newCheep.find('.content').text(cheep.content);
        $newCheep.find('.date').text(cheep.date);
        $newCheep.find('.time').text(cheep.time);
        $newCheep.removeClass('cheep_template');

        $newCheep.appendTo('#cheeps')

      })
      setTimeout(getUpdate,1000);
    })
  }